/*------------------------------------*\
  #App
\*------------------------------------*/

*{
  margin:0;
  padding:0;
}

html,
body,
#root,
.App {
	height: 100%;
}

.App {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

img{
  width:92%
}

