/*------------------------------------*\
  #ExampleImage
\*------------------------------------*/

.illustration{
  display:flex;
  width:85%;
  margin:auto
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .illustration{
    display:flex;
    width:60%;
    margin:auto
  }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 1024px) {
  .illustration{
    display:flex;
    width:65%;
    margin:auto
  }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .illustration{
    display:flex;
    width:45%;
    margin:auto
  }
}