*{
  margin:0;
  padding:0;
}

/* Notify Me */
.form{
  display:flex;
  flex-direction: column;
  width:300px;
  margin:auto;
}
.form input{
  flex:1;
}
.form button{
  flex:1
}
button{
  background-color:hsl(223, 87%, 63%);
  color:#fff;
  border-radius:12px;
  border:none;
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }