/*------------------------------------*\
  #App
\*------------------------------------*/

*{
  margin:0;
  padding:0;
}

html,
body,
#root,
.App {
	height: 100%;
}

.App {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

img{
  width:100%
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

